/* ЗАДАЕМ РОДИТЕЛЬСКИЕ ПАРАМЕТРЫ В body */
body {
  margin: 0; /*сброс на 0 т.к. по умолчанию 8 */
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: black;
  /* -webkit- font-smoothing: antialiased; */
}
/*ЗАДАЕМ РОДИТЕЛЬСКИЕ ПАРАМЕТРЫ ДЛЯ ВСЕГО*/
*,
*:before,
*:after {
    box-sizing: border-box; /*ЗАДАЕМ ПРАВИЛО НЕ УЧИТЫВАТЬ ВНУТРИННИЕ ОТСТУПЫ*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
/* container */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
/* HEADER */
.header {
    padding-top: 15px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/* ЕЩЕ ОДИН КОНТЕЙНЕР ДЛЯ ЛОГОТИПА И НАВИГАЦИИ */
.header__logo {
    display: flex; /*ХЕДЕР ПО УМОЛЧАНИЮ ДИСПЛЕЙ БЛОК, А НУЖЕН ФЛЕКС*/
    justify-content: space-between;
    align-items: center;
}
.header__logo2 {
    display: flex; /*ХЕДЕР ПО УМОЛЧАНИЮ ДИСПЛЕЙ БЛОК, А НУЖЕН ФЛЕКС */
    justify-content: inline-block;
    align-items: center;
}
.header__img {
    margin-left: 42px;
}

/* INTRO----------------------------------------------------------- */
.intro {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100% ;
    /* background-color: rgb(183, 210, 238); */
}
.intro__leftbox {
    /* background-color: rgb(212, 51, 51); */
}

.intro__img {
    /* КАРТИНКА СЛЕВА */
    width: 100%;
    height: 100%;
    border-radius: 9px;
}  
.intro__rightbox {
    padding-left: 65px;
    /* background-color: rgb(96, 107, 250); */
}
.intro__title {
    width: 100%;
    height: 5%;
    font-size: 26px;
    font-weight: 600;
  /* text-transform: uppercase; */
    text-align: left;
    line-height: 20px;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* background-color: rgb(100, 100, 100); */
}
/* КОНТЕЙНЕР ДЛЯ ТЕКСТА  В ИНТРО ДЛЯ h2 */
.intro__subtitle {
    width: 100%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 52px;
    font-size: 16px;
    font-weight: 400;
    /* text-transform: uppercase; */
    text-align: left;
    line-height: 20.8px;
    /* background-color: rgb(223, 12, 12); */
}
/* Button
===================*/
.btn {
    padding: 18px 75px; /*РАСШИРЯЕМ КНОПКУ*/

    border-radius: 9px; /*СКРУГЛЕНИЕ ГРАНИЦ*/
    border: 0;
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none; /*УБРАТЬ ОФОРМЛЕНИЕ ССЫЛКИ*/
    text-align: center;
}

.btn--blue {
    background-color: #0066ff;
}

.btn--red:hover /*ЗАТЕМНЕНИЕ ПРИ НАВОДЕ КУРСОРА*/ {
    background-color: #0066ff;
}

.btn--long {
    min-width: 280px;
}

/* 3 icons */
.bottombox {
    display: flex;
    justify-content: space-around;
    float:inline-end;
    margin-top: 78px;
}
.bottombox__icon {
    display: flex;
    justify-content: flex-end;
    position: absolute;

}
.bottombox__text {
    display: flex;
    position: relative;
    left: 115px;
    text-align: center;
    font-size: 16px;
    color: #0066FF;
}
